

#img-box{

    border:10px solid paleturquoise
}

body {background-color: lightseagreen}

.centered {
text-align: center;
}

.r-o-n-d-{
width:300px;
border-radius: 100px;
height: 200px;
margin: 28px
}

























